@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: Nunito , sans-serif;
}

:root {
  --bubbles: #e4f6f8;
  --paleGreen: #8bf3a5;
  --jasper: #dd4343;
  --btnDisabled: rgba(170, 170, 170, 0.466);
  --darkPuce: rgb(71, 50, 71);
  --onyx: rgb(54, 56, 70);
  --gunMetal: #282a36;
}

html {
  font-size: 10px;
}

/* https://www.color-name.com/ */
/* https://www.rapidtables.com/web/color/RGB_Color.html */