#editPublishedAdPageMain {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 3%;
}

#editPublishedAdPageMain h1 {
  color: ghostwhite;
  font-size: 1.7em;
  align-self: center;
  text-align: center;
  width: fit-content;
  margin-top: 0;
}

#editPublishedAdForm {
  background-color: #8bf3a5;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  margin: 1% 0;
  padding: 2%;
}

#editPublishedAdBlock1 {
  border-top: dashed 2px #282A36;
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2%;
}

#editPublishedAdBlock1 label {
  color: rgb(71, 50, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 60%;
  cursor: pointer;
  margin: 0.5% 0;
}

#editPublishedAdBlock1 input[type = "text"], #editPublishedAdBlock1 textarea {
  background-color: #e4f6f8;
  border: dashed 1px rgb(71, 50, 71);
  border-radius: 4px;
  color: #282A36;
  font-size: 1em;
  width: 90%;
  padding: 0.5%;
  transition: 0.3s width ease-in-out;
}

#editPublishedAdBlock1 input[type = "checkbox"] {
  margin-right: 1%;
  cursor: pointer;
}

#editPublishedAdBlock1 input[type = "text"]:focus, #editPublishedAdBlock1 textarea:focus {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  width: 95%;
}

#editPublishedAdBlock2 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
}

#editPublishedAdBlock2 select {
  background-image: linear-gradient(to bottom right, rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 10px;
  padding: 0.5%;
}

#editPublishedAdBlock2 select:focus {
  background-color: rgb(80, 54, 80);
  color: #8BF3A5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

#editPublishedAdBlock3 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 1%;
}

#editPublishedAdBlock3 h4 {
  color: rgb(71, 50, 71);
  font-size: 1.1em;
  text-align: justify;
  width: fit-content;
  margin: 2px 0 4px 0;
}

#editPublishedAdBlock3-1 {
  display: flex;
  flex-direction: column;
  font-size: 1.05em;
  width: 100%;
}

#editPublishedAdBlock3-1 span {
  color: rgb(71, 50, 71);
  font-weight: 600;
}

.productConditionRdBtns {
  justify-content: flex-start;
  margin: 0.5% 0;
}

#editPublishedAdBlock4 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 2%;
}

#editPublishedAdBlock4 label {
  color: rgb(71, 50, 71);
  font-weight: 600;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 35%;
}

#editPublishedAdBlock4 input[type = "text"] {
  background-color: #e4f6f8;
  border: dashed 1px rgb(71, 50, 71);
  border-radius: 4px;
  color: #282A36;
  font-size: 1em;
  width: 55%;
  margin-left: 5px;
  padding: 0.5%;
  transition: 0.3s width ease-in-out;
}

#editPublishedAdBlock4 input[type = "text"]:focus {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  width: 65%;
}

#editPublishedAdBlock5 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.8%;
}

#editPublishedAdBlock5-1, #editPublishedAdBlock5-2  {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  padding: 1%;
}

.ePAdEachProductPicUploaderContainer {
  background-color: rgb(179, 140, 179);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
}

.ePAdEachProductPicUploaderContainer img {
  width: 185px;
  height: 165px;
  margin-bottom: 5%;
}

.ePAdEachProductPicUploaderContainer label {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  border-radius: 5px;
  color: #FFF;
  font-size: 1em;
  cursor: pointer;
  width: 80%;
  text-align: center;
  display: block;
  margin-bottom: 2%;
  padding: 2%;
  transition: 0.3s width ease-in-out;
}

.ePAdEachProductPicUploaderContainer label:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 85%;
}

.ePAdEachProductPicUploaderContainer input[type="file"] {
  display: none;
}

.removeProductPicture {
  background-color: #ff6b6b;
  color: ghostwhite;
  border: none;
  border-radius: 5px;
  width: 65%;
  cursor: pointer;
  font-size: 0.9em;
  margin: 2% 0;
  padding: 1%;
  transition: 0.3s width ease-in-out;
}

.removeProductPicture:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
}

#editPublishedAdBlock6 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 1.5%;
}

#editPublishedAdBlock6 h4 {
  color: rgb(71, 50, 71);
  align-self: center;
  font-size: 1.1em;
  text-align: justify;
  width: fit-content;
  margin: 2px 0 6px 0;
}

#editPublishedAdCepSearchBar {
  display: flex;
  align-self: center;
  justify-content: center;
}

#editPublishedAdCepSearchBar input[type = "text"] {
  background-color: #e4f6f8;
  border: dashed 1px rgb(71, 50, 71);
  border-radius: 4px;
  color: #282A36;
  font-size: 1em;
  width: 55%;
  margin-left: 6px;
  padding: 0.5%;
  transition: 0.3s width ease-in-out;
}

#editPublishedAdCepSearchBar input[type = "text"]:focus {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  width: 65%;
}

#editPublishedAdCepSearchBar label {
  display: flex;
  align-content: center;
  align-items: center;
}

#editPublishedAdCepBtn {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -4%;
  padding: 1%;
  transition: 0.3s ease-in-out;
}

#editPublishedAdCepBtn svg {
  color: ghostwhite;
  font-size: 1em;
}

#editPublishedAdCepBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#editPublishedAdCepBtn:disabled {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  border: none;
}

#editPublishedAdCepBtn:disabled:hover {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  cursor: default;
  box-shadow: none;
}

#editPublishedAdBlock6-1-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.4%;
  margin-bottom: 0.5%;
}

#editPublishedAdBlock6-1-1 span {
  background-color: rgb(179, 140, 179);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  padding: 0.4% 2%;
}

#editPublishedAdBlock7 {
  border-bottom: dashed 2px #282A36;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 1.5%;
}

#editPublishedAdBlock7 h4 {
  color: rgb(71, 50, 71);
  align-self: center;
  font-size: 1.1em;
  text-align: justify;
  width: fit-content;
  margin: 0px 0 8px 0;
}

#editPublishedAdBlock7-1 {
  display: flex;
  align-items: center;
  align-self: center;
  width: 65%;
  justify-content: space-evenly;
  margin: 0;
}

#editPublishedAdBlock7-1 output {
  background-color: rgb(179, 140, 179);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  padding: 0.4% 2%;
}

#editPublishedAdBlock7-1 label {
  background-color: rgb(179, 140, 179);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  padding: 0.4% 2%;
}

#editPublishedAdBlock7 input[type = "text"] {
  background-color: #e4f6f8;
  border: dashed 1px rgb(71, 50, 71);
  border-radius: 4px;
  color: #282A36;
  font-size: 1em;
  width: 55%;
  margin-left: 5px;
  padding: 0.5%;
  transition: 0.3s width ease-in-out;
}

#editPublishedAdBlock7 input[type = "text"]:focus {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  width: 65%;
}

#editPublishedAdBtnsContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 3%;
}

#publishEditAdBtn, #editPublishedAdCancelBtn {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  cursor: pointer;
  font-size: 1em;
  padding: 0.9%;
  transition: 0.3s width ease-in-out;
}

#publishEditAdBtn:hover, #editPublishedAdCancelBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 45%;
}

#publishEditAdBtn svg, #editPublishedAdCancelBtn svg {
  color: ghostwhite;
  font-size: 1em;
  margin-left: 7px;
}

#publishEditAdBtn:disabled {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  border: none;
  width: 40%;
}

#publishEditAdBtn:disabled:hover {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  cursor: default;
  box-shadow: none;
  width: 40%;
}