#iziTechHeader {
  display: flex;
  flex-direction: column;
}

/* TOP-HEADER */
#iziTechTopHeader {
  background-color: var(--gunMetal);
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

#headerContentContainer {
  display: flex;
  width: 70%;
  padding: 0.5%;
}

#logoAndSearchBarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}

#redirectToSearchArea {
  color: wheat;
  text-decoration: overline;
  font-size: 1.6rem;
}

#redirectToSearchArea:hover {
  text-decoration: underline
}

#logoAndSearchBarContainer img {
  width: 7rem;
  height: 7rem;
}

#headerNavbar {
  display: flex;
  justify-content: center;
  width: 50%;
}

#notDropdownList {
  border-left: dashed 1px var(--magicMint);
  border-right: dashed 1px var(--magicMint);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
}

#notDropdownList li {
  width: fit-content;
  text-align: center;
}

#notDropdownLink {
  color: ghostwhite;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.3s;
}

#notDropdownLink:hover {
  color: var(--malachiteGreen);
  font-size: 1.65rem;
  cursor: pointer;
}

#headerCategoriesLoader {
  border: 0.5rem solid var(--romanSilver);
  border-top: 0.5rem solid var(--magicMint);
  border-radius: 50%;
  display: flex;
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

#logInAndSellBtnsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

#loginLink {
  color: wheat;
  text-decoration: overline;
  font-size: 1.55rem;
  font-weight: 600;
  transition-duration: 0.3s;
}

#loginLink:hover {
  font-size: 1.55rem;
  text-decoration: underline;
}

#wannaSellBtn {
  background-color: var(--magicMint);
  color: var(--gunMetal);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.55rem;
  height: 6rem;
  cursor: pointer;
  padding: 1rem;
  transition-duration: 0.2s;
}

#wannaSellBtn:hover {
  background-color: var(--paleGreen);
  border-radius: 5px 15px;
  font-size: 1.55rem;
}

/* SUB-HEADER */
#iziTechSubHeader {
  background-image: linear-gradient(var(--onyx), var(--darkPuce));
  box-shadow: 0 10px 16px -4px black;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
}

#iziTechSubHeader a {
  background-color: var(--magicMint);
  color: var(--gunMetal);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  width: 33.1%;
  padding: 0.3%;
  transition-duration: 0.3s;
}

#iziTechSubHeader a:hover {
  background-color: var(--paleGreen);
  font-size: 1.6rem;
}
