#registerPageMain {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  display: flex;
  justify-content: center;
  padding: 2%;
}

#registerFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

#registerFormContainer img {
  width: 200px;
  margin-bottom: 0;
}

#registerFormContainer h2 {
  color: ghostwhite;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
}

#registerForm {
  background-color: #8bf3a5;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 3%;
  padding: 2% 8%;
}

#registerForm label {
  text-align: center;
  width: 400px;
}

#registerForm input[type = "email"], #registerForm input[type = "password"], #registerForm input[type = "text"]  {
  background-color: #e4f6f8;
  border: dashed 1px rgb(71, 50, 71);
  border-radius: 4px;
  font-size: 1.15em;
  width: 70%;
  margin-bottom: 15px;
  padding: 2%;
  transition: 0.3s width ease-in-out;
}

#registerForm input[type = "email"]:focus, #registerForm input[type = "password"]:focus, #registerForm input[type = "text"]:focus  {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
  width: 90%;
}

#passwordHelper {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 4%;
  padding: 1% 4%;
}

#passwordHelper p {
  color: ghostwhite;
  font-size: 0.9em;
  margin: 1% 0;
}

#registerTermsLabel {
  color: #282a36;
  font-size: 1.1em;
  font-weight: 600;
}

#registerTermsCheckbox {
  margin-right: 1%;
}

#registerBtn {
  background-image: linear-gradient(rgb(54, 56, 70), rgb(71, 50, 71));
  color: ghostwhite;
  border: none;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2.5%;
  transition: 0.3s width ease-in-out;
}

#registerBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
}

#registerBtn:disabled {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  border: none;
  width: 40%;
}

#registerBtn:disabled:hover {
  background-image: linear-gradient(rgba(170, 170, 170, 0.466), rgba(170, 170, 170, 0.466));
  cursor: default;
  box-shadow: none;
  width: 40%;
}

#registerExtraLinks {
  color: #282a36;
  text-decoration: overline;
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 3%;
  margin-bottom: 0;
  transition-duration: 0.3s;
}

#registerExtraLinks:hover {
  font-size: 1.15em;
  text-decoration: underline;
}
