#searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1%;
}

#searchBarContainer input[ type = 'text' ] {
  background-color: var(--magicMint);
  color: var(--gunMetal);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: 25rem;
  height: 4rem;
  padding: 0.7rem;
  transition: 0.3s width ease-in-out;
}

#searchBarContainer input[ type = 'text' ]:focus {
  background-color: var(--paleGreen);
  color: var(--gunMetal);
  outline: none;
  width: 30rem;
}

#searchBarContainer button {
  background-color: var(--magicMint);
  border: none;
  border-radius: 2rem;
  align-self: center;
  cursor: pointer;
  font-size: 1.45rem;
  margin: 0 2%;
  padding: 0.7rem;
  transition: 0.2s ease-in-out;
}

#searchBarContainer svg {
  color: var(--darkPuce);
  width: 100%;
}

#searchBarContainer button:hover {
  background-color: var(--paleGreen);
}

#searchBarContainer button:disabled {
  background-color: var(--btnDisabled);
  cursor: default;
}